################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeachEasy/.vs/TeachEasy
/TeachEasy/bin
/TeachEasy/obj
/TeachEasy/App_Data
*.cache
TeachEasy/.vs
/TeachEasy/Properties/PublishProfiles
