@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>About us</title>
    <link href="../../Content/aboutus.css" rel=stylesheet type="text/css">
</head>

<body>
    <div class="title">
        <h1 class="about-head">About TeachEasy</h1>
    </div>
    <div class="text">
        <p>TeachEasy is an assignment creation tool to be used by teachers and students for educational purposes. Our main objective is to simplify creating assignments, quizzes, and tests.</p>
        <p>Creating assignments can be time consuming on certain text editors because they don't allow you full control and aren't easy to use.</p>
        <p>TeachEasy is an efficient way to create an assignment that enables users to insert <i>multiple-choice</i> and <i>true/false</i> questions, create complex graphs, and add <i>fill in the blank</i> questions.</p>
    </div>
    <div class="contactus">
        <div class="contactTitle">
            <p>Contact us</p>
        </div>
        <div class="info">
            <p>Telephone: 778 - 946 - 7895</p>
            <p>Email: contact@teacheasy.com</p>
        </div>
    </div>
    <!--bios-->
    <div class="bios">
        <h3>The TeachEasy Team</h3>

        <!--alex block-->
        <div class="alexBlock">
            <div class="alexImage">
                <img src="~/Content/images/alex.jpg" alt="profile">
            </div>
            <div class="bio-desc">
                <p> <b>Alex Lavoie</b> <br> Alex is a first year BCIT student enrolled in the Computer Systems Technology program. Alex is the Project Manager and contributed to both front end and back end development for the TeachEasy project.
            </div>
        </div>
        <!--daniel block-->
        <div class="danielBlock">
            <div class="danielImage">
                <img src="~/Content/images/daniel.jpg" alt="profile">
            </div>
            <div class="bio-desc">
                <p><b>Daniel Hwang</b> <br> Daniel is a first year BCIT student enrolled in the Computer Systems Technology program. Daniel was a back end developer that focussed on creating the database for the TeachEasy project. </p>
            </div>
        </div>
        <!--Michael block-->
        <div class="michaelBlock">
            <div class="michaelImage">
                <img src="~/Content/images/michael.jpg" alt="profile">
            </div>
            <div class="bio-desc">
                <p><b>Michael Sinclair</b> <br>  Michael is a first year BCIT student enrolled in the Computer Systems Technology program. Michael was a back end developer that focussed on the client-side functionality of the TeachEasy project. </p>
            </div>
        </div>
        <!--saaeed block -->
        <div class="saaedBlock">
            <div class="saaedImage">
                <img src="~/Content/images/saeed.jpg" alt="profile">
            </div>
            <div class="bio-desc">

                <p> <b>Alex Lavoie</b> <br> Sa-eed Abdi is a first year BCIT student enrolled in the Computer Systems Technology program. Sa-eed was a front end developer that implemented front end designs for the TeachEasy project.

            </div>
        </div>
        <!-- gurpinder block-->
        <div class="gurpinderBlock">
            <div class="gurpinderImage">
                <img src="~/Content/images/gurp.png" alt="person">
            </div>
            <div class="bio-desc">
                <p><b>Gurpinder Singh</b> <br> Gurpinder is a first year BCIT student enrolled in the Computer Systems Technology program. Gurpinder was a front end devoloper that focussed on designing the TeachEasy User Interface. </p>
            </div>
        </div>
    </div>
</body>


</html>
