@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>About us</title>
    <link href="../../Content/aboutus.css" rel=stylesheet type="text/css">
</head>

<body>
    <div class="title">
        <h1 class="about-head">About TeachEasy</h1>
    </div>
    <div class="text">
        <p>TeachEasy is an assignment creation tool to be used by teachers and students for educational purposes. Our main objective is to simplify creating assignments, quizzes, and tests.</p>
        <p>Creating assignments can be time consuming on certain text editors because they don't allow you full control and aren't easy to use.</p>
        <p>TeachEasy is an efficient way to create an assignment that enables users to insert <i>multiple-choice</i> and <i>true/false</i> questions, create complex graphs, and add <i>fill in the blank</i> questions.</p>  
    </div>
    <div class="contactus">
        <div class="contactTitle">
            <p>Contact us</p>
        </div>
        <div class="info">
            <p>Telephone: 778 - 946 - 7895</p>
            <p>Email: contact@teacheasy.com</p>
        </div>
    </div>

</body>


</html>