<!DOCTYPE html>
<html lang = en>
	<head>
		<title>Home Page</title>
	</head>
	
	<body>
        <div class="assignment">
            <p class="text"> Create your assignment</p>
        </div>
		<div class = "aboutus">
			<p class = "text" >About us</p>
		</div>
	</body>
	
</html>