<!DOCTYPE html>
<html lang = en>
    
	<head>
		<title>Home Page</title>
	</head>
	
    <body>
        <div class="home-content">
            <div class="home-page-button-wrapper">
                <button class="home-page-button" id="asn-button"> Create your assignment</button>
                <button class="home-page-button" id="about-button">About us</button>
            </div>
        </div>
    </body>
	
</html>