@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>About us</title>
    <link href="../../Content/aboutus.css" rel=stylesheet type="text/css">
</head>

<body>
    <div class="title">
        <p class="titleText">About TeachEasy</p>
    </div>
    <div class="text">
        <p>TeachEasy is a tool, for teachers and students, mainly for educational purposes. The main motivation is to make assignments and quizzes easier to be made.</p>
        <p>Teachers spend a lot of time making school assignments and because of text editors like Microsoft Word and Google docs, do not have full control over the assignment.</p>
        <p>TeachEasy is the most efficient way to make any type of assignment, from Multiple choice questions to complex Graphs and all that is possible with single clicks.</p>
    </div>
    <div class="contactus">
        <div class="contactTitle">
            <p>Contact us</p>
        </div>
        <div class="info">
            <p>Telephone: 778 - 946 - 7895</p>
            <p>Email: contact@teacheasy.com</p>
        </div>
    </div>

</body>


</html>