
#wrapper {
    height: 100%;
}
.title {
	margin-top: 5%;
}

.about-head{
	font-size: 4em;
	text-align: center;
    padding-bottom: 20px;
    display: block;
}

.text {
	width: 660px;
	margin-right: auto;
	margin-left: auto;
    display: block;
}

.contactus {
	margin-right: auto;
	margin-left: auto;
}

.contactTitle {
	margin-top: 2%;
	font-size: 2em;
	text-align: center;
}

.info p {
	text-align: center;
}

@media (max-width: 750px) {
    .text {
        width: 85% !important;
    }
    .about-head {
        font-size: 2.5em;
    }
}
  
    
