.infoBox {
    border: 1px solid #808080;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    padding: 15px;
}

.infoBox input {
    border-radius: 5px;
    border: 2px solid #FF6F69;
    height: 40px;
}




/* side-bar styling */

#reqQuestionType {
    
   
    display: none;
}

    #reqQuestionType button {
        background-color: #f9f0f0;
        text-align: left; 
        padding-left: 2em;
    }
    #addSection {
        padding-left: .75em;
    }
    #reqQuestionType #addSection {
    }

    #question_modifiers button {
        text-align: left;
    }
    
/********************************************/
#graphInfo {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    top: 400px;
    right: 10%;
    display: none;
    width: 50%;
}

#graphInfo input{text-align: center;}

#toolbar {
    border: 2px solid black;
    background-color: rgb(106, 20, 108);
    text-align: center;
    color: white;
    margin-top: 25px;
}

    #toolbar p {
        text-align: left;
        padding-left: .75em;
    }

#toolbar button{
    width: 50px;
    margin: 8px 0px 8px 0px;
    background-color: white;
    border-radius: 5px;
}

.button {
    background-color: white; /* Green */
    border: 2px solid #FF6F69;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #FF6F69;
    color: white;
}

.ql-editor p{
    display: inline-block;
}

.ql-editor span {
    display: inline-block;
}

.title{
    text-align: center;
    font-size: 50px;
    background: none;
    border: none;
    width: 765px;
}


@media print {
    body * {
        visibility: hidden;
    }

    #asgn-page-content {
        visibility: visible;
    }

    #asgn-page-content {
        position: absolute;
        left: 0;
        top: 0;
    }
}
}



/*bootstrap overrides*/

