.infoBox {
    border: 1px solid #808080;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    padding: 15px;
}

.infoBox input {
    border-radius: 5px;
    border: 2px solid #FF6F69;
    height: 40px;
}

#reqQuestionType {
    border: solid black 1px;
    background-color: grey;
    display: none;
}

#graphInfo {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    top: 400px;
    right: 10%;
}

.button {
    
    background-color: white; /* Green */
    border: 2px solid #FF6F69;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #FF6F69;
    color: white;
}

.ql-editor p{
    display: inline-block;
}

.ql-editor span {
    display: inline-block;
}

@media print {
    .button {
        display: none;
    }

    #graphInfo {
        display: none;
    }

    #reqQuestionType {
        display: none;
    }

    .infoBox {
        display: none;
    }

    #toolbar {
        display: none;
    }

    #addSection {
        display: none;
    }
}

@media only screen and (min-width: 1120px) {
    #navbar-menu {
        display: none;
    }
}

/*bootstrap overrides*/

