body {

    padding-bottom: 20px;
}
.home-content {
    height: 750px;
    display: table;
    margin: 0 auto;
}

.home-page-button-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 200px;
}

.home-page-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    display: block;
    width: 200px;
    margin: 10px;
}

#logo {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/** Bootstrap Overrides **/



.navbar-collapse collapse show {
    position: absolute;
}


/****bootstrap code below, edit at your own risk**************************************/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}


@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

/* Log in styling */

