

body {
    min-height: 100%;
}
/* puts footer at the bottom of the view*/
footer {
    margin-top: -40px;
}


/* puts username and logoff on the the right of navbar at the specified view-width*/

@media only screen and (min-width: 1200px) {
    /* bootstrap override */


    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-lg .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

        .navbar-expand-lg > .container,
        .navbar-expand-lg > .container-fluid {
            flex-wrap: nowrap;
        }

        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-lg .navbar-toggler {
            display: none;
        }
    
    .menu-right {
        position: absolute;
        right: 1%;
    }

    #nav-menu-right li {
        display: inline;
        float: left;
    }
    #right-menu-logoff {
        width: 68px;
    }
    #username { 
    }
}

.home-content {
    display: table;
    margin: 0 auto;
    height: 750px;
}

.home-page-button-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 200px;
}

a.home-page-button {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    width: 200px;
    height: 40px;
}

a.home-page-button:hover {
    text-decoration: none;
    color: white;
}

#logo {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/** Bootstrap Overrides **/

.navbar-collapse collapse show {
    position: absolute;
}

/*Assignment page css*/

.side-button {
    width: 170px;
    padding-top: 0px;
}

#font-header {
    padding-top: 15px;
    padding-bottom: 5px;
}

#asgn-page-content {
    margin-top: 20px;
    text-align: left;
    height: 990px;
    width: 765px;
    background-color: white;
    display: inline-block;
    border: 3px solid black;
}

#asgn-page-background {
    text-align: center;
    background-color: rgba(229, 229, 229, 1);
}

/*Login page css*/

#login-page-content {
    display: table;
    margin: 0 auto;
}

#login-wrapper {
    display: table-cell;
    top: 50px;
    border: 1px solid #ccc;
    width: 360px;
    position: relative;
    top: 50px;
    padding: 20px;
}

#login-row {
    display: block; 
}

/*overrides bootstrap login responsiveness*/
#login-collumn-8, #login-collumn-4{
    max-width: 100%;
}











/****bootstrap code below, edit at your own risk**************************************/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}









