
@{
    ViewBag.Title = "Doc";
}

@Styles.Render("~/Content/Document.css")
@Scripts.Render("~/Scripts/app/AddElement.js")

<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
</head>

<body>
    <form id="toolbar">
        <button type="button" id="graphButton" onclick="insertGraph()">graph</button>
    </form>

    <div id="reqQuestionType" class="infoBox">
        <form>
            <button id="written" class="button" type="button">Written</button><br />
            <button id="mc" class="button" type="button">Multiple Choice</button><br />
            <button id="fib" class="button" type="button">Fill in Blank</button><br />
            <button id="tf" class="button" type="button">True/False</button>
        </form>
    </div>

    <div id="graphInfo" class="infoBox">
        <input type="text" placeholder="y = x" /><br /><br /><br />
        <button type="button">Virtual keyboard</button>
    </div>

    <div id="questionsList">

    </div>
</body>
</html>

